/* LOGIN PAGE LAYOUT */
.login-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-height: calc(100vh - 120px); /* plats för header */
  background: #f8f9fc;
  gap: 40px;
}


/* Vänster och höger sida */
.form-side,
.art-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inloggningsrutan */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ccc;
}

.form-content input::placeholder {
  font-size: 0.8rem;   
  color: #999;         
}

.form-content h2 {
  font-size: 1.8rem;
}

.form-content p {
  font-size: 1rem;
}

.form-content form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-content form div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-content label {
  font-size: 0.85rem;
  font-weight: 500;
}

.form-content input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.form-content button {
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: #9236ca;
  color: white;
  cursor: pointer;
}

.inputGroup{
  position: relative;

}
.inputGroup input{
  padding: 12px;
  font-size: 16px;
  border: 1px solid #aaa;
  outline: none;
  background: none;
}

.labelline {
  position: absolute;
  left: 10px;
  top: 12px;
  transform-origin: left top;
  transform: translateY(0) scale(1);
  transition: 0.2s ease;
  pointer-events: none;
  z-index: 2;
  background-color: #fff;
  padding: 0 4px;
  color: #94a3b8;
}

input:focus
{
  border-color: #9136C8FF;
  box-shadow: 0 5px 15px rgba(0,123,255,0.1);
}

input:focus + .labelline,
input:focus:valid + .labelline
{
  transform: translateY(-22px) scale(.88);
  color: #9136C8FF;
}

input:valid + .labelline{
  transform: translateY(-22px) scale(.88);
  border-color: #A9A9A9FF;
  color: #A9A9A9FF;
}

.form-content button:hover {
  background: #6f289b;
}

/* Höger sida – stor logga */
.art-side img {
  max-width: 80%;
  height: auto;
}

/* MOBIL: Visa bara login-rutan */
@media (max-width: 768px) {
  .art-side {
    display: none;
  }

  .login-layout {
    flex-direction: column;
    gap: 20px;
    min-height: auto; /* undvik scroll */
  }
}